/Cat.class
/Cat$AnimationList.class
/Egg.class
/Finger.class
/LightSwitch.class
/Nose.class
/package-info.class
/Boite.class
/Card.class
/Cadeau.class
/Bubble.class
/Apple.class
/Knife.class
/Apple$AppleType.class
/Box.class
/Gift.class
